body{
    padding: 0;
    margin: 0;
}
#header {
    width: 100%;
    height: 50px;
    background-color: black;

}
#header li{
    display: inline-block;
    width: 120px;
    height: 50px;
    margin-left: -5px;
    line-height: 50px;
}
#header a {
    text-decoration: none;
    color: white;
    display: block;
    text-align: center;
}
#header a:hover {
    background: #F1F1F1;
    color: #333;
}
#header img{

}
#left{
    width: 15%;
    height: 600px;
    background-color: lightgrey;
    float: left;
}
#left ul{
    padding-left: 70px;

}
#left li{
    list-style-type: none;
}
#left a{
    text-decoration: none;
}
#main{
    width: 70%;
    height: 600px;
    float: left;
}
#main p{
    font-size: 20px;
    font-family: Arial;
}
#right{
    width: 15%;
    height: 600px;
    background-color: lightgrey;
    float: left;
    text-align: center;

}
#right button{
    width: 150px;
    height: 100px;
    padding-top: 20px;
}
#footer{
    width: 100%;
    height: 50px;
    background-color: dimgray;
    clear: both;
}
#footer p{
    color: white;
    padding: 10px;
    text-align: center;
  }