body{
    padding: 0;
    margin: 0;
}
#header{
    width: 100%;
    height: 70px;
    background-color: lightgrey;

}
#head-link{
    width: 100%;
    height: 50px;
    background-color: lightgrey;
    text-align: center;
}
#head-link ul{
    margin: 5px;
}
#head-link li{
    display: inline-block;
    width: 250px;
    height: 50px;
    line-height: 50px;
}
#head-link a{
    text-decoration: none;
    color: black;
    text-align: center;
    display: block;
    border-left: black 1px solid;
}
#head-link a:hover{
    color: white;
}
#left{
    width: 30%;
    height: 1000px;
    float: left;
    text-align: center;
}
#left a{
    text-decoration: none;
    font-weight: bold;
    font-size: 10px;
    color: black;
}
#main{
    width: 70%;
    height: 1000px;
    float: left;
}
#footer{
    width: 100%;
    height: 50px;
    text-align: center;
    background: lightgrey;
    line-height: 50px;
    clear: both;
}